<section id="contact">
    <div class="container pt-4">
        <div class="row py-4 py-md-5">
            <div class="col h4 text-recycle">
                Publications
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row h5">
                    <h5>Theses and Dissertations</h5>
                </div>

                <div class="row link-grayish">
                    <a href="https://repositorium.sdum.uminho.pt/handle/1822/81121 "
                        class="link-grayish pubtitle">Integrated planning and recording circularity of construction
                        materials through digital modelling</a>
                    <p>Artur Kuzminykh, Miguel Azenha, José Granja (2022)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">BIM models for deconstruction planning and CDW management</a>
                    <p>María García Ferreiro, Lucía Díaz-Vilariño, Jose Luis González-Cespón (2022)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Efficient data management in a BIM-based framework for                  circularity of products and materials</a>
                    <p>Achushankar Anil, Manuel Parente, Miguel Azenha, Jose Granja (2023)</p>
                </div>
                
                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Construction and demolition waste: current situation and proposals for improvement</a>
                    <p>Ana María Cantero Sánchez, Lucía Díaz Vilariño, Pilar Piñeiro García (2023)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Reconstruction of BIM models from low-cost LiDAR data</a>
                    <p>Elena López Vila, Lucía Díaz-Vilariño, Antonio Fernández Álvarez (2023)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Indoor point cloud segmentation and classification from machine learning techniques</a>
                    <p>Pablo Muñiz Brea, Lucía Díaz-Vilariño, José Antonio Alonso Rodríguez (2023)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Scan-to-BIM: constructive element modelling from 3D geospatial information</a>
                    <p>Xián Albela Comesaña, Lucía Díaz-Vilariño, Antonio Fernández Álvarez (2023)</p>
                </div>

        


        <div class="row py-4">
            <div class="col">
                <div class="row h5">
                    <h5>Journal papers</h5>
                </div>

                <div class="row link-grayish">
                    <p><span class="pubtitle">Optimal scan planning for surveying large sites with static and mobile mapping systems</span><br>
                        E. Frías, M. Previtali, L. Díaz-Vilariño, M. Scaioni, H. Lorenzo. (2022).ISPRS Journal of Photogrammetry and Remote Sensing. Vol. 192 pp. 13-32. doi:10.1016/j.isprsjprs.2022.07.025</p>
                </div>

                
                <div class="row link-grayish">
                <p><span class="pubtitle">Quantifying recycled construction and demolition waste for use in 3D printed concrete</span><br>
                    De Villiers, W.; Mwongo, M.; Babafemi, A.J.; Van Zijl, G. (2024). Recycling 9, no. 4: 55. https://doi.org/10.3390/recycling9040055 </p>
                </div>

                <div class="row link-grayish">
                <p><span class="pubtitle">3D Concrete Printing Opportunities Towards Circularity - Mix Design, Testing and Mechanical Performance </span><br>
                    van Zijl, G., Babafemi, A. J., De Villiers, W., & Kruger, J.  (2023). Available at SSRN: https://ssrn.com/abstract=4481392 or http://dx.doi.org/10.2139/ssrn.4481392 </p>
                </div>
 

                <div class="row link-grayish">
                    <p><span class="pubtitle">Fresh and strength properties of 3D printable concrete mixtures utilising a high volume of sustainable alternative binders</span><br>
                    Colyn, M., van Zijl, G., & Babafemi, A. J. (2024). onstruction and Building Materials, 419, 135474. https://doi.org/10.1016/j.conbuildmat.2024.135474</p>
                </div>

                <div class="row link-grayish">
                    <p><span class="pubtitle">Promoting circularity of construction materials through demolition digitalisation at the preparation stage: Information requirements and openBIM-based technological implementation</span><br>
                        Kuzminykh, A., Granja, J., Parente, M., & Azenha, M. (2024). Advanced Engineering Informatics, 62, 102755. https://doi.org/10.1016/j.aei.2024.102755</p>
                </div>
         

        <div class="row py-4">
            <div class="col">
                <div class="row h5">
                    <h5>Conference communications</h5>
                </div>

                <div class="row link-grayish">
                    <p><span class="pubtitle">O projeto Europeu RecycleBIM rumo a plataforma integrada de gestão de resíduos da construção</span><br>
                        Azenha, M.; Kuzminykh, A.; Granja J. (2022) In “Seminário Prático Como se fazer uma análise de sustentabilidade com BIM HOJE?”,14th July 2022. E-book of presentations. 176pp. https//doi.org/10.5281/zenodo.6885396 </p>
                </div>

                <div class="row link-grayish">
                    <p><span class="pubtitle">Scan-for-BIM: cost-effective data survey for mobile mapping systems</span><br>
                        L. Díaz-Vilariño (2022). 19th International Conference on Computing in Civil & Building Engineering (ICCCBE, 2022), Cape Town 26-28 October 2022</p>
                </div>

                <div class="row link-grayish">
                    <a href="https://link.springer.com/chapter/10.1007/978-3-031-33211-1_23" class="link-grayish pubtitle">RecycleBIM Approach Towards Integrated Data Management for Circularity: Proof of Concept in a RC Building</a>
                    <p>Artur Kuzminykh, Manuel Parente, Vasco Vieira, José Granja & Miguel Azenha (2023). International RILEM Conference on Synergising Expertise towards Sustainability and Robustness of Cement-based Materials and Concrete Structures (SynerCrete'23) Milos Island, Greece 14, 15 & 16 June 2023</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">RecycleBIM: A framework for the circularity of construction materials through modelling 
                    </a>
                    <p>Manuel Parente, José Granja, Vasco Vieira, Artur Kuzminykh, Veracruz González, Antonio Fernández, Lucia Díaz-Vilariño, Donglin Cao, Neven Ukrainczyk, Luciano Sambataro, Eduardus Koenders, John Babafemi, Wibke de Villiers, Gideon van Zijl,  Leslie Petrik, Erik Sandonis and Miguel Azenha (2023) V International Conference Progress of Recycling in the Built Environment, Germany. </p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Plataforma integrada para a circularidade dos materiais de construção: prova de conceito no âmbito do projeto RecycleBIM</a>
                    <p>Artur Kuzminykh, Manuel Parente, Vasco Vieira, José Granja,Miguel Azenha (2024) 5º Congresso Português de 'Building Information Modelling' (ptBIM 2024)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Nivel de informação necessario para a circularidade dos materiais de construção no ambito do projeto RecycleBIM</a>
                    <p>Artur Kuzminykh, Achushankar Anil, Vasco Vieira, Manuel Parente, José Granja , Miguel Azenha (2024) 5º Congresso Português de 'Building Information Modelling' (ptBIM 2024)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Advancements in sustainability of 3D concrete printing: Presenting low-carbon mixes for additively manufactured concrete structures in practice</a>
                    <p>Colyn M, Babafemi AJ, van Zijl GPAG (2024) 4th RILEM International Conference on Concrete and Digital Fabrication (DC 2024), 4-6 September 2024, Munich, Germany</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Characterisation and formulation of waste augmented 3d printed concrete for BIM-based automation</a>
                    <p>Jandré Immelman, Mohammed Pourbehi, Alechine Emmanuel Ameh, Vinny Ndjate Katambwe, Leslie Petrik (2024) The 7th International Conference on Concrete Repair, Rehabilitation and Retrofitting (ICCRRR 2024)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Bridging Technologies: Integrating 3DCP and OSC Through BIM Implementation</a>
                    <p>Timm K, de Villiers WI, van Zijl GPAG (2024) Proceedings of the Fourth RILEM International Conference on Concrete and Digital Fabrication, Digital Concrete 2024 (DC2024), 4-6 September 2024, Munich, Germany https://doi.org/10.1007/978-3-031-70031-6_61</p>
                </div>


        <div class="row py-4">
            <div class="col">
                <div class="row h5">
                    <h5>Webinars</h5>
                </div>

                <div class="row link-grayish">
                    <a href="https://www.youtube.com/watch?v=4mdNITmS1rc"
                        class="link-grayish pubtitle">Is 3D Concrete Printing Increasing Construction Quality and Productivity?</a>
                    <p>Gideon van Zijl and John Babafemi participation on IABSE Webinar</p>
                </div>

        <div class="row py-4">
            <div class="col">
                <div class="row h5">
                    <h5>Lectures and Seminars </h5>
                </div>


                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Suitability of geopolymer made from waste coal fly ash as replacement for Portland cement concrete</a>
                    <p>Petrik, L. (2022) physical and online lecture. Universidade do Minho, Guimarães, Portugal</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Integrated planning and recording circularity of construction materials through digital modelling</a>
                    <p>Azenha, M. (2022) Seminar of CircularBIM Project. Seville, Spain. 27th May, Palestra por convite de Prof. Pilar Mercader (Uni.Seville)</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">BIM - Beyond Design</a>
                    <p>RecycleBIM Consortium's UMinho team (2023) Workshop on "Innovation and Digitalization in Construction", in Lisbon, Portugal, 14th June, 2023</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Recent approaches in modelling the as-built environment from point clouds</a>
                    <p>Díaz-Vilariño, L. (2024) University of Melbourne, Australia. 23rd January, 2024</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Recent approaches in modelling the as-built environment from point clouds</a>
                    <p>Díaz-Vilariño, L. (2024) National University of Singapore, Singapore. 13th February, 2024</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Advancements in sustainability of 3D concrete printing</a>
                    <p>Gideon van Zijl (2024) 3rd International Conference on Sustainable Infrastructural Development. Energy Efficiency and Sustainable Development in the Built Environment, Nigeria, 12-14 August 2024</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Integrating 3DCP and OSC Through BIM Implementation</a>
                    <p>Gideon van Zijl (2024) Performance and prospects of FRC Infrastructure in Southern Africa. BEFIB 2024, Dresden, Germany, 15-18 September 2024.</p>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Waste augmented concrete</a>
                    <p>Petrik, L. (2024) Lecture at the University Carlos III of Madrid, Madrid, Spain. October 1st, 2024.</p>
                </div>





        <div class="row py-4">
            <div class="col">
                <div class="row h5">
                    <h5>Books and Book Chapters </h5>
                </div>

                <div class="row link-grayish">
                    <a href="" class="link-grayish pubtitle">Seminário Prático Como se fazer uma análise de sustentabilidade com BIM HOJE?</a>
                    <p>Azenha M.; Martins, J.P.; Sibaii, M.; Mateus, R. (2022), E-livro de apresentações. 176pp. https//doi.org/10.5281/zenodo.6885396 </p>
                </div>



            </div>
    </div>

</div>
</section>